.overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  .contant {
    width: 500px;
    height: 100vh;
    overflow: auto;
    background-color: white;
    position: fixed;
    right: 0;
    top: 0;
    img{
      width: 100%;
      height: 50px;
      object-fit: contain;
    }
  }
}
