.card{
    transition: ease all 400ms;
    cursor: pointer;
    &:hover{
        background-color: var(--mainYellow);

    }
    img {
        width: 100%;
        height: 150px;
        object-fit: contain;
      }
}